{
  "root": true,
  "env": {
    "node": true,
    "es6": true
  },
  "ignorePatterns": [
    "index.html"
  ],
  "extends": [
    "plugin:vue/vue3-recommended",
    "eslint:recommended",
    "@vue/standard"
  ],
  "rules": {
    "vue/multi-word-component-names": "off"
  },
  "settings": {
    "vue-i18n": {
      "localeDir": "./src/locales/*.js"
    }
  }
}
