:root {
  --white: hsl(0, 0%, 100%);
  --jet: hsl(120, 1%, 17%);
  --dark: hsl(208, 37%, 20%);
  --accent: hsl(8, 49%, 51%);
  --accent-lighten: hsl(8, 65%, 57%);
  --error: hsl(349, 100%, 35%);
  --shadow: hsla(0, 0%, 0%, 0.13);
  --lightgrey: hsl(60, 3%, 93%);
  --char: hsl(0, 4%, 22%);
  --btn-shadow: hsla(0, 0%, 0%, 0.02);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: var(--jet);
  color: var(--lightgrey);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100vh;
  margin: 0;
}

html {
  overflow-y: scroll;
}

a {
  color: var(--accent);
  text-decoration: none;
  transition: all ease 0.2s;
}

a:hover {
  color: var(--lightgrey);
}

.grid {
  display: grid;
  grid-template-areas: 'main'
    'footer';
  grid-template-rows: 1fr min-content;
  height: 100%;
  gap: 1rem;
}

main {
  grid-area: main;
  padding: 2rem;
}

footer {
  grid-area: footer;
  justify-self: center;
  align-self: flex-end;
}

.pokedex__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.alert {
  transition: 0.4s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--dark);
    background-color: var(--lightgrey);
  }

  a:hover {
    color: var(--dark);
  }

  h2 {
    color: var(--dark);
  }
}

@media only screen and (max-width: 768px) {
  .pokedex__container {
    grid-template-columns: 1fr;
  }
}
